<tr>
  <td>
    <div class="inline-flex space-x-2">
      <div>
        <%= link_to '詳細', admin_shop_path(shop),
            class: 'btn bg-gray-700 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded shadow-md' %>
      </div>
      <div>
        <%= link_to '編集', edit_admin_shop_path(shop),
            class: 'btn bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded shadow-md' %>
      </div>
      <div>
        <%= button_to '削除', admin_shop_path(shop),
            method: :delete,
            data: { confirm: '本当に削除しますか？' },
            class: 'btn bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded shadow-md' %>
      </div>
    </div>
  </td>

  <td>
    <%= shop.id %>
  </td>
  <td>
    <%= shop.title %>
  </td>
  <td>
    <%= shop.description %>
  </td>
  <td>
    <%= shop.address %>
  </td>
  <td>
    <%= shop.area %>
  </td>
  <td>
    <%= shop.budget %>
  </td>
  <td>
    <%= shop.scene %>
  </td>
  <td>
    <%= shop.opening_hours %>
  </td>
  <td>
    <%= shop.shop_number %>
  </td>
  <td>
    <%= shop.shop_url %>
  </td>
  <td>
    <%= shop.latitude %>
  </td>
  <td>
    <%= shop.longitude %>
  </td>
  <td>
    <%= l shop.created_at, format: :long %>
  </td>
  <td>
    <%= image_tag(shop.shop_image.variant(resize: '300x300')) if shop.shop_image.attached? %>
  </td>
</tr>