<div class="bg-gray-100 shadow-lg rounded-xl p-8 text-black">
  <div class="grid grid-cols-2 gap-8">
    <div>
      <h3 class="text-xl mb-2 text-black">< 住所 ></h3>
      <p><%= link_to shop.address, "https://google.com/maps/search/#{shop.address}", target: "_blank", class: "underline hover:text-blue-600" %></p>
    </div>
    <div>
      <h3 class="text-xl mb-2 text-black">< 営業時間 ></h3>
      <p><%= shop.opening_hours %></p>
    </div>
    <div>
      <h3 class="text-xl mb-2 text-black">< 予算 ></h3>
      <p><%= shop.budget %>円</p>
      <p class="text-sm text-black mt-1">詳細記載予定</p>
    </div>
    <div>
      <h3 class="text-xl mb-2 text-black">< 電話番号 ></h3>
      <p><%= link_to shop.shop_number, "tel:#{shop.shop_number}", target: "_blank", class: "underline hover:text-blue-600" %></p>
    </div>
    <div>
      <h3 class="text-xl mb-2 text-black">< 利用用途 ></h3>
      <p><%= shop.scene %></p>
    </div>
    <div>
      <h3 class="text-xl mb-2 text-black">< URL ></h3>
      <p><%= link_to shop.shop_url, target: "_blank", class: "underline hover:text-blue-600" %></p>
    </div>
  </div>
  <div>
    <h3 class="text-xl mt-5 mb-2 text-black">< アクセス ></h3>
    <% if shop.latitude.present? && shop.longitude.present? %>
      <div id="shop-map-<%= shop.id %>"
           class="shop-map"
           data-latitude="<%= shop.latitude %>"
           data-longitude="<%= shop.longitude %>"
           style="height: 400px; width: 100%; border-radius: 8px; box-shadow: 0 2px 6px rgba(0,0,0,0.3);">
      </div>
    <% else %>
      <p class="mt-5">地図を表示するための情報がありません。</p>
    <% end %>
  </div>
</div>
