<div class="container mx-auto bg-gray-200 p-12 px-36">
  <div class="relative flex justify-center items-center">
    <%= image_tag(shop_image(@shop), class: "w-960 h-480 object-cover rounded-xl opacity-50") %>
    <div class="absolute inset-0 flex flex-col justify-center items-center text-white">
      <% breadcrumb :shop, @shops %>
      <h1 class="text-4xl font-bold mb-4"><%= @shop.title %></h1>
      <div class="flex items-center space-x-4">
        <%= render 'shops/share_button', shop: @shop %>
        <%= link_to x_share_url(@shop), target: "_blank", rel: "noopener noreferrer", class: "text-white hover:text-blue-400 transition duration-150 ease-in-out" do %>
          <i class="fab fa-twitter text-2xl" aria-hidden="true"></i>
        <% end %>
        <%= link_to facebook_share_url(@shop), target: "_blank", rel: "noopener noreferrer", class: "text-white hover:text-blue-400 transition duration-150 ease-in-out" do %>
          <i class="fab fa-facebook-f text-2xl" aria-hidden="true"></i>
        <% end %>
        <%= link_to instagram_share_url(@shop), target: "_blank", rel: "noopener noreferrer", class: "text-white hover:text-blue-400 transition duration-150 ease-in-out" do %>
          <i class="fab fa-instagram text-2xl" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-12">
    <h2 class="text-3xl font-semibold mb-6 text-black">店舗情報</h2>
    <%= render 'shops/shop', shop: @shop %>
  </div>
  <div class="mt-12">
    <%= render 'shops/reviews', shop: @shop %>
  </div>
  <%= link_to "戻る", :back, class: "tracking-widest pt-6 flex flex-col w-full text-center text-black hover:underline" %>
</div>
