<div class="container mx-auto bg-gray-100 p-12 px-36">
  <div class="relative flex justify-center items-center">
    <%= image_tag("shisha.jpg", class: "w-960 h-480 object-cover rounded-xl opacity-50") %>
    <div class="absolute inset-0 flex flex-col justify-center items-center text-white">
      <h1 class="text-4xl font-bold mb-4"><%= @shop.title %></h1>
      <p class="text-xl"><%= @shop.area %></p>
    </div>
  </div>

<!-- app/views/shops/show.html.erb -->

<div class="mt-12">
    <h2 class="text-3xl font-semibold mb-6 text-black">店舗情報</h2>
    <div class="bg-gray-100 shadow-lg rounded-xl p-8 text-black">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <h3 class="text-xl mb-2 text-black">利用用途</h3>
          <p><%= @shop.scene %></p>
        </div>
        <div>
          <h3 class="text-xl mb-2 text-black">予算</h3>
          <p><%= @shop.budget %>円</p>
          <p class="text-sm text-black mt-1">詳細記載予定</p>
        </div>
        <div>
          <h3 class="text-xl mb-2 text-black">電話番号</h3>
          <p><%= @shop.shop_number %></p>
        </div>
        <div>
          <h3 class="text-xl mb-2 text-black">営業時間</h3>
          <p><%= @shop.opening_hours %></p>
        </div>
        <div class="col-span-full">
          <h3 class="text-xl mb-2 text-black">タグ</h3>
          <p class="text-black">タグ付け予定</p>
        </div>
        <div class="col-span-full">
          <h3 class="text-xl mb-2 text-black">アクセス</h3>
          <p class="text-black">GoogleMap予定</p>
        </div>

      </div>
    </div>
  </div>
</div>
