<%= content_for :head do %>
  <title>管理者ログイン</title>
<% end %>

<h1>管理者ログイン</h1>

<%= form_with url: admin_login_path, local: true do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>