<% content_for :title do %>
  ユーザー一覧
<% end %>

<div class="container mb-5 pt-2">
  <div class="col-md-3 text-right">
    <%= link_to '新規ユーザー作成', new_admin_user_path, class: "ml-auto px-6 py-2 bg-black text-white rounded-lg hover:underline" %>
  </div>

  <h1>ユーザー一覧</h1>
  <p>全ユーザー数: <%= @total_users_count %></p>

  <div class="row">
    <div class="col-md-12 mb-3">
      <%= render 'search_form' %>
    </div>
    <div class="mb-4">
      <label for="sort_order" class="mr-2">並び替え:</label>
      <select id="sort_order" class="form-control" onchange="location = this.value;">
        <option value="<%= request.original_url %>">選択してください</option>
        <option value="<%= url_for(request.params.merge(order: :asc)) %>">ID 昇順</option>
        <option value="<%= url_for(request.params.merge(order: :desc)) %>">ID 降順</option>
      </select>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><%= User.human_attribute_name(:id) %></th>
          <th scope="col"><%= User.human_attribute_name(:name) %></th>
          <th scope="col"><%= User.human_attribute_name(:email) %></th>
          <th scope="col"><%= User.human_attribute_name(:nickname) %></th>
          <th scope="col"><%= User.human_attribute_name(:role) %></th>
          <th scope="col"><%= User.human_attribute_name(:created_at) %></th>
          <th scope="col"><%= User.human_attribute_name(:avatar) %></th>
        </tr>
        </thead>
        <tbody>
        <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- ページネーション -->
      <%= paginate @users %>
    </div>
  </div>
</div>

<script>
  function redirectToSortOrder(url) {
    if (url) {
      window.location = url;
    }
  }
</script>
