<% content_for :title do %>
  ユーザー詳細
<% end %>

<div class="container">
  <div class="p-4 w-full lg:w-2/3 mx-auto text-sm">
      <h1 class="text-xl font-bold">ユーザー詳細</h1>
      <div class="text-right mb-3">
        <%= link_to '編集', edit_admin_user_path(@user), class: 'btn bg-gray-700 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded shadow-md mr-2' %>
        <%= link_to '削除', admin_user_path(@user), method: :delete, data: { confirm: t('activerecord.defaults.delete_confirm') }, class: 'btn bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded shadow-md' %>
      </div>
      <table class="table table-bordered bg-white w-full">
        <tr>
          <th scope="row"><%= User.human_attribute_name(:id) %></th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:role) %></th>
          <td><%= @user.role %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:name) %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:avatar) %></th>
          <td>
            <% if @user.avatar.attached? %>
              <%= image_tag(url_for(@user.avatar.variant(resize: '100x100'))) %>
            <% else %>
              画像がありません
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:created_at) %></th>
          <td><%= l @user.created_at, format: :long %></td>
        </tr>
      </table>
      <%= link_to "戻る", :back, class: "tracking-widest pt-6 flex flex-col w-full text-center text-sm text-black hover:underline" %>
    </div>
  </div>
</div>