<!DOCTYPE html>
<html lang="ja" class="h-full">
<head>
  <title><%= content_for(:title) || "管理者画面" %></title>
  <%= favicon_link_tag('smoke.png') %>
  <%= stylesheet_link_tag "application", 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body class="h-full">
  <div class="relative h-screen flex flex-col">
    <% if admin_user_signed_in? %>
      <%= render 'admin/shared/header' %>
    <% else %>
      <%= render 'admin/shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>

    <div class="flex-1 flex">
      <%= render 'admin/shared/sidebar' %>

      <main class="flex-1 overflow-y-auto">
        <div class="py-6 px-4 sm:px-6 lg:px-8">
          <%= yield %>
        </div>
      </main>
    </div>

    <%= render 'admin/shared/footer' %>
  </div>
</body>
</html>
